.form {
    background-color: $backgroundColor;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    margin-left: 200px;
}
.form-label {
    color: rgb(236, 13, 13);
}
.form-check {
    color: maroon;
}